<!DOCTYPE html>
<html>
<ul>
    <li>  <a href="/Home/Index">Index</a>  </li>
    <li>  <a href="/Home/Home">Home</a>  </li>
    <li>  <a href="/Home/About">About</a>  </li>
    <li>  <a href="/Home/Contact">Contact</a>  </li>
    <li>  <a href="/Home/MyWork">MyWork</a>  </li>
</ul>
<head>
    <title>Know More About Us!</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header>
        <h1 style="background-color:tan;">KhumaloCrafts</h1>

    </header>
    <main>
        <h3>About Us</h3>
        <h2>Welcome to KhumaloCrafts once again, where creativity meets tradition!</h2>
        <p>At KhumaloCrafts, we are passionate about handmade crafts and the stories behind them.</p>
        <p>Our mission is to provide a platform for artisans to showcase and sell their unique creations, while also fostering a community of makers and enthusiasts.</p>
        <br>
        <h3>About Our Team</h3>
        <p>Our team is composed of dedicated individuals who share a love for handcrafts and a desire to support the arts.</p>
        <br>
        <h3>James Khumalo - Founder</h3>
        <p>a visionary entrepreneur, set out to establish KhumaloCraft Emporium as a global
            e‐commerce platform to showcase handcrafted products.</p>
        <p>His dream involves connecting artisans worldwide with a discerning audience.</p>
        <br>
        <h3>Our Values</h3>
        <p>A platform accessible to a global audience</p>
        <p>A platform scalable to accommodate growth</p>
        <p>a platform that ensures a secure and enjoyable shopping experience</p>
        <br>
        <h3>Contact Us</h3>
        <p>For any enquiries, do contact mailto:info@khumalocrafts.com. Thank You. We look forward to hearing from you</p>


    </main>
    <footer>
        <p>KhumaloCrafts</p>
    </footer>
</body>
</html>