<!DOCTYPE html>
<html>
<ul>
    <li>  <a href="/Home/Index">Index</a>  </li>
    <li>  <a href="/Home/Home">Home</a>  </li>
    <li>  <a href="/Home/About">About</a>  </li>
    <li>  <a href="/Home/Contact">Contact</a>  </li>
    <li>  <a href="/Home/MyWork">MyWork</a>  </li>
</ul>

<head>
    <title>Welcome to KhumaloCrafts!</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
   
      
        
    <header>
        <h1 style="background-color:tan;">KhumaloCrafts</h1>
        
    </header>
    <main>
            
        <h2>Welcome to KhumaloCrafts, where creativity meets tradition!</h2>
            
        <p>At KhumaloCrafts, we're passionate about celebrating the artistry and craftsmanship of handmade creations.</p>
        <p>Step into a realm where every piece tells a story, crafted with love, skill, and dedication.</p>
        <p>From intricately woven textiles to meticulously sculpted ceramics,
            our curated collection showcases the finest handcrafted models from around the globe.</p>
        <p>Whether you're a connoisseur seeking unique treasures or an artisan looking to share your talents with the world, you've come to the right place.</p>
        <p>Join us on a journey of creativity, inspiration,
            and discovery as we connect talented artisans with a worldwide audience.</p>
        <p>Start exploring, and let the magic of handmade beauty enchant you!</p>
            

        <h3>Featured Crafts</h3>
        <ul>
            <li>Wooden chairs</li>
            <li>Handwoven baskets</li>
            <li>Exclusive paintings</li>
            <li>Hand-painted ceramics</li>
            <li>Beads</li>
            <li>Hand-carved wooden toys</li>
        </ul>
        <h3>Be on the lookout for featured artisans, will showcase soon...watch this space...</h3>
        
    </main>
    <footer>
        <p>KhumaloCrafts</p>
    </footer>
</body>
</html>