
<!DOCTYPE html>
<html>

@{
}

<ul>
    <li>  <a href="/Home/Index">Index</a>  </li>
    <li>  <a href="/Home/Home">Home</a>  </li>
    <li>  <a href="/Home/About">About</a>  </li>
    <li>  <a href="/Home/Contact">Contact</a>  </li>
    <li>  <a href="/Home/MyWork">MyWork</a>  </li>
</ul>


    <title>KhumaloCrafts!</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</>
<body>
    <header>
        <h1 style="background-color:tan;">A glimpse of My Work</h1>

    </header>
    <main>

        <h2>My Work</h2>

        <div class="Images">
            <img src="711ef35bba47d75b38a8f7d050ebc49e.jpg"
                 alt="African Beadwork" 
                 width="400"
                 height="300" />

            <h3>Painting</h3>
            <p>A warm and cozy handmade quilt for your bed or couch. Perfect for cold winter nights.</p>

            <div class="Images">
                <img src="Explore collection of African Art Painting.jpg"
                     alt="African Paint" 
                     width="300"
                     height="300" />

                <h3>Beadwork</h3>
                <p>Explore collection of African Art Painting.</p>

                <div class="Images">
                    <img src="8e392f394de97cb44df62283b6e6b14b.jpg"
                         alt="Paintworks" 
                         width="400"
                         height="300" />

                    <h3>Painting</h3>
                    <p>Africa Paintworks.</p>



        </div>

        </main>
        <footer>
            <p>KhumaloCrafts</p>
        </footer>
</body>
</html>
</div>